
.container {
  font-family: arial;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

p {
  text-align: left;
}

.required:after {
    content:" *";
    color: red;
  }
label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
}
input {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    height: 20px;
    border: 1px solid #000;
    float: left;
    margin-bottom: 10px;
}


input[type="text"] {
  box-sizing: border-box;
  padding: .5rem;
  margin-bottom: 30px;
  width:50%;
}
input {
    border: 0;
}
.formSections{
    margin-top: 20px;
    margin-bottom: 30px;
}
.submitButton {
  background-color: #1976d2; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}
