<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="container">
        <h1>How can we help?</h1>
        <div class="row">
            <div class="col-sm">
                <label for="name" class="required">Name:</label>
                <input type="text" class="form-control" [class.is-invalid] = "contactForm!.get('name')!.invalid && contactForm!.get('name')!.touched"  formControlName="name" />
                <div *ngIf="(contactForm!.get('name')!.invalid && contactForm!.get('name')!.touched) || contactForm!.get('name')!.dirty">
                    <small *ngIf="contactForm!.get('name')!.errors?.['required']" class="errTxt">Name is required</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="email" class="required">Email:</label>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control"  [class.is-invalid] = "contactForm!.get('email')!.invalid && contactForm!.get('email')!.touched" formControlName="email" [email]="emailValidation" />
                <div class="col-sm" *ngIf="(contactForm!.get('email')!.invalid && contactForm!.get('email')!.touched) || contactForm!.get('email')!.dirty">
                    <small class="errTxt" *ngIf="contactForm!.get('email')!.errors?.['required']">Email address is required</small>
                    <small class="errTxt" *ngIf="contactForm!.get('email')!.errors?.['email']">Email address is invalid</small>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label for="phone" class="required">Phone:</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" formControlName="phone" name="phone" required/>
                </div>
                <div class="col-sm" *ngIf="(contactForm!.get('phone')!.invalid && contactForm!.get('phone')!.touched) || contactForm!.get('phone')!.dirty">
                        <small class="errTxt" *ngIf="contactForm!.get('phone')!.errors?.['required']">Phone Number is required</small>
                        <div class="errTxt" *ngIf="contactForm!.get('phone')!.errors?.['pattern']">Please Enter 10 digit Phone Number.</div>  
                </div>  
            </div>
            <div class="row">
                <div class="col-sm">
                    <label for="company" class="required">Company Name:</label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" [class.is-invalid] = "contactForm!.get('company')!.invalid && contactForm!.get('company')!.touched"  formControlName="company" />
                     
                    <div *ngIf="(contactForm!.get('company')!.invalid && contactForm!.get('company')!.touched) || contactForm!.get('company')!.dirty">
                        <small *ngIf="contactForm!.get('company')!.errors?.['required']" class="errTxt">Company is required</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label for="business">Type of Business:</label>
                </div>
                <div class="col-sm">
                    <input type="text"  class="form-control" formControlName="business" name="business" />
                </div>
            </div>
    </div>
</form>

<button type="submit" class="submitButton" [disabled]="!contactForm.valid" (click)="onSubmit()">GET IN TOUCH</button>


