<div class="toolbar" role="banner">
  <span class="title-center">{{ title }}</span>
</div>

<div class="split-view-container">
  <div class="left">
    <ul>
      <li>RELATIONSHIPS MEAN SOMETHING</li>
    </ul>
    <div class="familyText">
      <span>Family-owned and</span>
      <span> operated since 1923</span>
    </div>
    <div style="margin-left: 25px; margin-top: 12px">
      <span>
        We're local like you and always by your side. Thats why our people work
        everyday to innovate and serve you the best possible solutions to run
        your business
      </span>
    </div>

    <router-outlet name="left"></router-outlet>
  </div>
  <div class="right">
    <app-contact-form></app-contact-form>
  </div>
</div>
<router-outlet></router-outlet>
